.DS_Store
/Pods


### Xcode ###
## User settings
xcuserdata/


### Xcode Patch ###
OnlineShop.xcodeproj/
OnlineShop.xcodeproj/
*.xcodeproj/project.pbxproj
*.xcodeproj/xcshareddata/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/contents.xcworkspacedata
*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode
